.swapText {
  position: relative;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 25px;
  z-index: 1;
}
.messageFrame {
  flex: 1;
  border-radius: var(--br-3xs) var(--br-8xs) var(--br-8xs) var(--br-3xs);
  background: linear-gradient(180deg, #fff, #fcc9db 0.01%, #f879a6 19.27%);
  overflow: hidden;
  justify-content: flex-start;
  padding: var(--padding-9xs) var(--padding-mid);
}
.messageFrame,
.messageframe,
.messageframeWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.messageframe {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  flex: 1;
  justify-content: flex-start;
  z-index: 2;
}
.messageframeWrapper {
  width: 79px;
  justify-content: flex-end;
  padding: 0 var(--padding-7xs);
  box-sizing: border-box;
}
.ellipse {
  height: 15px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(180deg, #dee0e5, #f879a6);
}
.ethereumIcon {
  height: 11px;
  width: 11px;
  position: absolute;
  margin: 0 !important;
  top: 2px;
  left: 2px;
  object-fit: cover;
  z-index: 1;
}
.avataricon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  z-index: 1;
}
.blankLine,
.solanaWalletAddress,
.toReceiveSol {
  margin: 0;
}
.solanaWalletAddressContainer {
  width: 350px;
  position: relative;
  font-weight: 600;
  display: inline-block;
  max-height: 72px;
  word-break: break-word;
  z-index: 1;
}
.solanaWalletAddress0x8e91bWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
  min-width: 227px;
  max-width: 100%;
}
.avatariconParent,
.commandsListIcon {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.avatariconParent {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: var(--gap-5xs);
}
.commandsListIcon {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-mid);
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
