.swapText {
  position: relative;
  font-size: var(--font-size-3xs);
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  min-width: 30px;
  z-index: 1;
}
.messageFrame,
.messageframe {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.messageFrame {
  flex: 1;
  border-radius: var(--br-3xs) var(--br-8xs) var(--br-8xs) var(--br-3xs);
  background: linear-gradient(180deg, #fff, #fcc9db 0.01%, #f879a6 19.27%);
  overflow: hidden;
  padding: var(--padding-9xs) var(--padding-mid);
}
.messageframe {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  width: 67px;
  z-index: 2;
}
.ellipse {
  height: 15px;
  width: 15px;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(180deg, #dee0e5, #f879a6);
}
.ethereumIcon {
  height: 11px;
  width: 11px;
  position: absolute;
  margin: 0 !important;
  top: 2px;
  left: 2px;
  object-fit: cover;
  z-index: 1;
}
.avataricon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
  z-index: 1;
}
.toInitiateA {
  margin: 0;
}
.toInitiateAContainer {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  z-index: 1;
}
.toInitiateASwapEnterTheWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs) 0 0;
}
.avatariconParent {
  width: 252px;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-3xs);
}
.avatariconParent,
.frameContainer,
.messageframeParent {
  display: flex;
  justify-content: flex-start;
}
.frameContainer {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
}
.messageframeParent {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-smi);
  max-width: 100%;
}
.frameWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-2xs) 0 0;
  box-sizing: border-box;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-black);
  font-family: var(--font-open-sans);
}
