.i {
  position: relative;
  font-weight: 700;
  white-space: nowrap;
}
.balance {
  height: 53px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs) 0;
  box-sizing: border-box;
}
.b {
  flex: 1;
  position: relative;
  white-space: nowrap;
}
.balancePNL,
.balancepnl {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.balancepnl {
  align-self: stretch;
  background-color: var(--color-gainsboro);
  overflow: hidden;
  flex-direction: row;
  white-space: nowrap;
}
.balancePNL {
  width: 60px;
  flex-direction: column;
  padding: var(--padding-12xs) 0 0;
  box-sizing: border-box;
}
.bridgeButton {
  position: relative;
  display: inline-block;
  min-width: 52px;
}
.dailypctchg {
  height: 19px;
  flex: 1;
  border-radius: var(--br-4xs);
  background-color: var(--color-gray-100);
  border: 1px solid var(--color-palevioletred-100);
  box-sizing: border-box;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-4xs) var(--padding-12xs)
    var(--padding-3xs);
  color: var(--color-black);
}
.balancePNLParent,
.dailypctchg,
.hudInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.balancePNLParent {
  height: 18px;
  flex: 1;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}
.hudInner {
  width: 145px;
  justify-content: flex-end;
  padding: 0 var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--font-size-smi);
  color: var(--color-lightgreen);
}
.hUDInstance,
.hud {
  display: flex;
  justify-content: flex-start;
}
.hud {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-smi);
  z-index: 1;
}
.hUDInstance {
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-16xl);
  box-sizing: border-box;
  max-width: 100%;
}
.autobuybuttonChild {
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-palevioletred-100);
}
.image15Icon {
  width: 16px;
  height: 16px;
  position: absolute;
  margin: 0 !important;
  top: 6px;
  left: calc(50% - 8px);
  object-fit: cover;
  z-index: 1;
}
.autobuy {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 27px;
}
.autobuybutton {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-9xs);
  cursor: pointer;
  z-index: 1;
  text-align: center;
}
.swapbuttonChild {
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-palevioletred-100);
}
.image16Icon {
  width: 14px;
  height: 14px;
  position: absolute;
  margin: 0 !important;
  top: 7px;
  left: calc(50% - 7px);
  object-fit: cover;
  z-index: 1;
}
.swap {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 17px;
}
.swapWrapper,
.swapbutton {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.swapWrapper {
  flex-direction: row;
  padding: 0 var(--padding-8xs) 0 var(--padding-7xs);
}
.swapbutton {
  flex-direction: column;
  position: relative;
  gap: var(--gap-9xs);
  cursor: pointer;
  z-index: 1;
}
.bridgebuttonChild {
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-palevioletred-100);
}
.image17Icon {
  width: 14px;
  height: 14px;
  position: absolute;
  margin: 0 !important;
  top: 7px;
  left: calc(50% - 7px);
  object-fit: cover;
  z-index: 1;
}
.bridge {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 21px;
}
.bridgeWrapper,
.bridgebutton {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.bridgeWrapper {
  flex-direction: row;
  padding: 0 var(--padding-9xs) 0 var(--padding-10xs);
}
.bridgebutton {
  flex-direction: column;
  position: relative;
  gap: var(--gap-9xs);
  cursor: pointer;
  z-index: 1;
}
.sendbuttonChild {
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-palevioletred-100);
}
.image18Icon {
  width: 14px;
  height: 14px;
  position: absolute;
  margin: 0 !important;
  top: 7px;
  left: calc(50% - 7px);
  object-fit: cover;
  z-index: 1;
}
.send {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 16px;
}
.sendWrapper,
.sendbutton {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.sendWrapper {
  flex-direction: row;
  padding: 0 var(--padding-7xs);
}
.sendbutton {
  flex-direction: column;
  position: relative;
  gap: var(--gap-9xs);
  cursor: pointer;
  z-index: 1;
}
.receivebuttonChild {
  width: 28px;
  height: 28px;
  position: relative;
  border-radius: 50%;
  background-color: var(--color-palevioletred-100);
}
.image19Icon {
  width: 14px;
  height: 14px;
  position: absolute;
  margin: 0 !important;
  top: 7px;
  left: calc(50% - 7px);
  object-fit: cover;
  z-index: 1;
}
.receive {
  position: relative;
  font-weight: 600;
  display: inline-block;
  min-width: 25px;
}
.receiveWrapper {
  flex-direction: row;
  padding: 0 var(--padding-11xs) 0 var(--padding-12xs);
}
.receiveButton,
.receiveWrapper,
.receivebutton,
.sendButton {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.receivebutton {
  flex-direction: column;
  position: relative;
  gap: var(--gap-9xs);
  cursor: pointer;
  z-index: 1;
}
.receiveButton,
.sendButton {
  flex-direction: row;
}
.receiveButton {
  margin: 0;
  gap: var(--gap-4xs);
  text-align: left;
  font-size: var(--font-size-7xs);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
.sendButton {
  padding: 0 var(--padding-57xl) 0 var(--padding-57xl-5);
  box-sizing: border-box;
  max-width: 100%;
}
.thefold {
  align-self: stretch;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-palevioletred-500);
  box-sizing: border-box;
  z-index: 1;
}
.hUDInstanceParent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-mini-5);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-35xl);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 328px) {
  .sendButton {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
