.tutorialoutputtext {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.tutorialoutputtextWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-42xl) 0 var(--padding-42xl-5);
}
.commandsListIcon {
  height: 20px;
  width: 20px;
  position: relative;
  object-fit: cover;
  min-height: 20px;
}
.userinputbox {
  margin: 0;
  width: 303px;
  position: relative;
  font-size: inherit;
  font-weight: 300;
  font-family: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.paperPlaneIcon {
  height: 20px;
  width: 20px;
  position: absolute;
  margin: 0 !important;
  top: calc(50% - 10px);
  right: 19px;
  object-fit: cover;
}
.messageInputBox,
.tutorialstartbox {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.messageInputBox {
  border-radius: var(--br-lg);
  background-color: var(--color-white);
  border: 1px solid var(--color-palevioletred-100);
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-5xs) var(--padding-lg);
  position: relative;
  gap: var(--gap-3xs);
  font-size: var(--font-size-sm);
  color: var(--color-gray-200);
  font-family: var(--font-open-sans);
}
.tutorialstartbox {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25) inset;
  border-radius: var(--br-lgi);
  background-color: var(--color-palevioletred-300);
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  gap: var(--gap-7xs);
  cursor: pointer;
  z-index: 2;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-white);
  font-family: var(--font-montserrat);
}
@media screen and (max-width: 399px) {
  .tutorialoutputtextWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
